.container_footer {
    width: 100% !important;
    /* background-color: aqua; */
    max-width: 100% !important;
    padding-top: 0px; /* Add some space at the top of the footer for content */

}

.left_footer_container {
    width: 100%;
}

.right_footer_container {
    width: 100%;
}

.left_p {
    max-width: 50%;
}

.link_logo_footer {
    font-size: .2rem !important;
    color: white;
}

.link_logo_footer:hover {
    opacity: .6;
}

