.square_gallery {
    width: 20rem;
    position: relative;
}

.square_gallery::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  pointer-events: none;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.square_gallery:hover::after {
  background-color: rgba(0,0,0,0.5); 
}