@font-face {
  font-family: 'AwanZaman Regular';
  src: url('../fonts/AwanZaman/AwanZamanRegular/AwanZaman\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AwanZaman Heavy';
  src: url('../fonts/AwanZaman/AwanZamanHeavy/AwanZaman\ Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'AwanZaman ExtraLight';
  src: url('../fonts/AwanZaman/AwanZamanExtraLight/AwanZaman\ ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'AwanZaman Light';
  src: url('../fonts/AwanZaman/AwanZamanLight/AwanZaman\ Light.ttf') format('truetype');
}

@font-face {
  font-family: 'AwanZaman Thin';
  src: url('../fonts/AwanZaman/AwanZamanThin/AwanZaman\ Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'AwanZaman Medium';
  src: url('../fonts/AwanZaman/AwanZamanMedium/AwanZaman\ Medium.ttf') format('truetype');
}

* {
  box-sizing: border-box !important;
  /* overflow-y: hidden; */
}

html,
body {
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

p, label, button {
  font-family: 'AwanZaman Medium';
  font-size: 1.2rem;
}

h1,h2,h3 {
  font-family: 'AwanZaman Heavy';
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.hr_line {
  border: border #FB3640;
  height: .2rem;
  width: 100px;
  color: #FB3640;  /* old IE */
  background-color: #FB3640;  /* Modern Browsers */
}

.container_page { 
  margin-bottom: 2rem;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .container_page {
    width: 100%;
  }

  .navbar {
    width: 150vw;
  }

  footer {
    width: 150vw !important;
  }

}
