

.slide_show_image {
    position: relative;
}

.square_testimoni {
    width: auto !important;
    border: 1px solid #FB3640;
}

.image_slideshow {
    mix-blend-mode: multiply; 
}

.carousel_caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
  }

  .carousel_item {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

.slide_show_image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  mix-blend-mode: multiply;
}

.slide_show_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.left_introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.right_introduction, .left_introduction {
    width: 90%;

}

.image_introduction {
}

.h1_count {
    font-size: 5rem;
    color: #FB3640
}

.square_reason {
    display: flex;
    justify-content: center;
    border: 3px dashed #FB3640;
    background-color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.h1_reason {
    color: #FB3640;
    margin-bottom: 1rem;
}

/* .wrap_image_left_reason {
    position: relative;
}

.wrap_image_left_reason::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */

.image_right_reason {
    margin-top: 4rem;
    filter: brightness(70%);
}

.heading_testimoni {
    width: 15rem;
    border: 1px solid #FB3640;
    position: relative;
}

.image_parent_testimoni {
    margin-bottom: .5rem;
}

.testimoni_container {
    position: relative; 
    width: 100%;
    background-image: url('../images/slideshow/2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.testimoni_overflow_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.text_area_contact {
    height: 10rem;
}

.section_odd_container {
    background-color: #F1F1F1;
}

.image_gallery {
    position: relative; 
}

.image_gallery::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    pointer-events: none;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.image_gallery:hover::after {
    background-color: rgba(0,0,0,0.5); 
}

.square_gallery_home {
    width: 100%;
    flex-wrap: wrap;
}

.indicator_circle {
    width: 5px;
    height: 5px !important;
    background-color: #dc3545 !important;
    margin: 0 5px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}
  
  .active.indicator_circle {
    background-color: #dc3545 !important; 
  }

  .button_part:hover {
    cursor: pointer;
    transform: scale(1.25);
    background: white;
    color: black;
    border: 1px solid black;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
}

.our_results_box {
    background-color: black;
    width: auto !important;
}

.our_results_box .box_child_our_results {
    padding: 25px;
}

@media (max-width: 476px) {
    .container_testimoni_paragraph {
        padding: 3rem !important;
    }
}





