.container_jumbotron {
    height: 100vh; 
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    background-image: url('../images/slideshow/2.jpg');
    background-attachment: fixed; 
    padding: 12rem 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image_slideshow_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.6; 
    pointer-events: none;
}

.container_text_jumbotron {
    position: relative;
}

.header_welcome_page {
    margin-top: 2rem;
    font-size: 5rem; 
}

.slide_show_message {
    font-size: 1.5rem;
}

@media (max-width: 476px) {
    .our_results_box {
        background-color: blue !important;
    }
}