.nav_link {
    cursor: pointer;
}

.navbar {
  width: auto;
}

.container_navbar {
  width: auto;
  margin: 0 auto;
  flex-grow: 1;
}

.active_nav_link {
    color:  white !important;
}

.nav_link {
    color: rgb(209, 209, 209) !important;
}

.transparent-bg {
  background-color: rgba(0, 0, 0, 0);
}

.button_navbar_collapse {
  border: 3px solid rgba(255,255,255);
}

.button_navbar_collapse svg path  {
  fill:white !important;
  color: white;
}

@media (max-width: 991.98px) {
  .button_navbar_collapse {
    background-color: white !important;
    color: white !important;
    /* display: block;  */
  }
}