
.square_services {
    background-color: white;
    margin: 1rem 3rem;
    border: 2px dashed #FB3640;
    width: 17rem;
}

.logo_square_services {
    color:#FB3640
}

.container_it_works {
    background-image: url('../images/slideshow/2.jpg');
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.square_it_works {
    display: flex;
    border: 1px solid #FB3640;
    padding: 2rem 2rem;
    margin: 5em 5rem;
}

.icon_it_wors {
    font-size: 4rem;
    color: white;
}

.border_how_it_works {
    border: 1px solid black;
}

.square_how_it_works_left {
}

.square_how_it_works_right {
    margin-top: 17rem;
}

.contact_services {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5) url('../images/slideshow/2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 5rem;
    background-attachment: fixed; 
    position: relative;
}

.contact_overlay {
    background: rgba(0, 0, 0, 0.5); 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .container_services {
    background-color: #F1F1F1;
  }

.button_part:hover {
    cursor: pointer;
    transform: scale(1.25);
    background: white;
    color: black;
    border: 1px solid white;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
}

.contact_content {
    position: relative;
    z-index: 1;
}

.container_how_it_works {
    margin-top: 3rem;
}

.parent_box_services {
    flex-wrap: wrap;
}

